
*{
  font-family: cursive;
}
:root{
  --color_01 : lime;
  --color_02 : rgba(0, 255, 0, 0.4);
}
.text-color-01{
  color: var(--color_01) !important;
}
.text-color-02{
  color: var(--color_02) !important;
}
.bg-color-01 {
  background-color: var(--color_01) !important;
}
.bg-color-02{
  background-color: var(--color_02) !important;
}
.my-border-01{
  border: 2px solid var(--color_01);
}
.my-border-02{
  border: 2px solid var(--color_02);
}
.custom-hr {
  border: 2px solid var(--color_01);
  width: 40%;
  margin: 0px auto;
}
.list{
  list-style-type: '>  ';
}